<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="footer">
    <div th:if="${#httpServletRequest.remoteUser}" class="container">
        <footer>
            <!-- this is footer -->
            <br/>
            <br/>
            <span class="form-group col-lg-8">
                <a class="btn btn-sm btn-secondary btn-outline-danger pull-left" th:href="@{/logout}">log out</a>
                <a class="btn btn-sm btn-secondary btn-outline-primary pull-right" th:href="@{/index}">Home</a>
            </span>
        </footer>
    </div>
</div>
</body>
