<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->

    <nav class="navbar navbar-fix-top navbar-dark bg-primary nav-left">
       <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            ☰
        </button>
      <!--  <a class="navbar-brand" href="#">Navbar</a>-->
        <div class="collapse navbar-toggleable-xs"  id="collapsingNavbar">
            <ul class="nav navbar-nav" >
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin}">Manager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/trainer}">Trainer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/student}">Student</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="col-lg-6">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}" role="tab" data-toggle="tab pill">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin}" role="tab" data-toggle="tab pill">Manager</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/trainer}" role="tab" data-toggle="tab pill">Trainer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/student}" role="tab" data-toggle="tab pill">Student</a>
            </li>
        </ul>

    </div>
    <style>
        .nav-left{
            display: block;
        }
    </style>


</div>
</body>
</html>