<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="file-upload">
<form method="post" th:action="@{/trainer/uploadQuestions}" enctype="multipart/form-data">

        <!-- COMPONENT START -->
    <div class="form-group col-lg-6" >
        <input type="button" id="browse" value="浏览待上传文件: " class="btn btn-success" onclick="$('#upload-file').click();"><br/><br/>
        <input id='location' class="form-control"  placeholder='Choose an excel file...' disabled>
        <input type="file" id='upload-file' name="file" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="$('#location').val($('#upload-file').val());" style="display: none">
    </div><br/>

    <div class="form-group col-lg-4">
        <label for="startRow" class="text-secondary text-info" >startRow: 从excel文件哪一行开始读取...</label>
        <input type="number" name="startRow" class="form-control" id="startRow" placeholder=1 style="width:100px; height:38px"/>
        <label for="size"  class="text-secondary text-info">size: 考试试题数是...</label>
        <input type="number" name="size" class="form-control" id="size" placeholder=20 style="width:100px; height:38px"/>
    </div>
        <!-- COMPONENT END -->
    <div class="form-group">
          <button type="submit" id="submit-questions" class="btn btn-primary pull-right">Submit</button>
          <button type="reset" class="btn btn-danger">Reset</button>
    </div>
    </form>



</div>

<div th:fragment="file-confirm">
    <div>请依次填写考试基本信息 考试班级 考试科目 考试场次，之后点击按钮开始考试，学生将会看到考试题目</div>
    <div class="form-group">
        <select name="grade" id="grade" class="form-control input-lg"
               required="true" >
            <option th:each="grade : ${grades}" th:text="${grade}" th:value="${grade}"></option>
        </select>
    </div>
    <div class="form-group">
        <select name="subject" id="subject" class="form-control input-lg"
                required="true">
        <option th:each="subject : ${subjects}" th:text="${subject}"  th:value="${subject}"></option>
        </select>
    </div>
    <div class="form-group">
        <input type="number" name="times" id="times" class="form-control input-lg"
               placeholder="请输入考试场次" required="true"/>
    </div>

    <button id="openTest" type="button" onclick="openTest()" class="btn btn-primary pull-right" > 提交考试信息并开放考试<p id="isOpen">未开放</p> </button>

    <script type="application/javascript" th:inline="javascript">
        var openTest = function () {
            var grade = $("#grade").val();
            var subject = $("#subject").val();
            var times = $("#times").val();
            var classInfo = {
                "grade": grade,
                "subject": subject,
                "times": times
            };
            var url = "/trainer/classInfoAndOpenTest";

            $.ajax({
                type: 'post',
                url: url,
                contentType: 'application/json',

                data: JSON.stringify(classInfo),

                dataType: 'json',

                beforeSend: function(){
                //开始请求之前
                console.log(classInfo);
                console.log(JSON.stringify(classInfo));

                },
                success: function (data) {
                    console.log("back",data);
                    $("#isOpen").text("已开放");
                    $("#openTest").attr("disabled",true);
                    //$("#exportResults").attr("disabled",false);


                }
            });

        }


    </script>

</div>

<div th:fragment="file-export">
    <div  class="form-group">
        <button id="lockButton" onclick="closeExam()"  class="btn btn-secondary  pull-right" >关闭考试停止学生交卷</button>
    </div>
    <div class="form-group">
        <a id="exportResults" th:href="@{/trainer/csvResults}" target="_blank" class="btn btn-info pull-right" onclick="enableDelete()" > 结束考试并生成导出考试结果 </a>

    </div>
    <div  class="form-group">
        <button id="deleteResults" onclick="deleteResults()"  class="btn btn-warning  pull-right" disabled="disabled" >清空考试成绩数据库表 方便下一场次考试</button>
    </div>
    <script type="application/javascript" th:inline="javascript">
        var lockUrl ="/trainer/closeExam";

        var closeExam = function () {
            $.ajax({
                type: 'get',
                url: lockUrl,
                contentType: 'application/json',
                dataType: 'json',

                success: function (data) {
                    lockUrl= data ? "/trainer/tempOpenExam" : "/trainer/closeExam";

                    console.log(lockUrl);

                    $("#lockButton").text(data?"暂时允许学生交卷":"关闭考试停止学生交卷");
                }
            })
        }
        var enableDelete = function () {
            $('#deleteResults').attr("disabled",false);
        }
        var deleteResults = function () {

            $.ajax({
                type: 'delete',
                url: "/basic/results",
                contentType: 'application/json',
                dataType: 'json',

                success: function () {
                        alert("已经清空考试成绩信息。唯一作用是方便下一场考试")
                }
            })
        }
    </script>
</div>
</body>
</html>