<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.0/css/bootstrap.css" />
</head>
<body>
<div th:fragment="file-upload">
<!--<form method="post" action="/upLoadQuestions" enctype="multipart/form-data">-->
    <form id="questions-upload" enctype="multipart/form-data">
        <!-- COMPONENT START -->
    <div class="form-group col-lg-6" >
        <input type="button" id="browse" value="浏览待上传文件: " class="btn btn-success" onclick="$('#upload-file').click();"><br/>
        <input id='location' class="form-control"  placeholder='Choose an excel file...' disabled>
        <input type="file" id='upload-file' name="file" accept="application/vnd.ms-excel" onchange="$('#location').val($('#upload-file').val());" style="display: none">
    </div><br/>

    <div class="form-group col-lg-4">
        <label for="startRow" class="text-secondary text-info" >startRow: 从excel文件哪一行开始读取...</label>
        <input type="number" class="form-control" id="startRow" placeholder=1 style="width:100px; height:38px"/>
        <label for="size"  class="text-secondary text-info">size: 考试试题数是...</label>
        <input type="number" class="form-control" id="size" placeholder=20 style="width:100px; height:38px"/>
    </div>
        <!-- COMPONENT END -->
    <div class="form-group col-lg-8">
          <button type="submit" id="submit-questions" onclick="sub()" class="btn btn-primary pull-right">Submit</button>
          <button type="reset" class="btn btn-danger">Reset</button>
    </div>
    </form>

    <script type="text/javascript">
        var isUploaded = false;

        var sub =  function(){
            if(isUploaded){
                alert("文件正在上传中，请稍候");
                return false;
            }

            var filePath = $("#upload-file").val();
            if (filePath == "") {
                alert("please upload excel file",2);
                return false;
            }

            var formData = new FormData();

            formData.append('file', $("#upload-file").files[0]);
            formData.append('startRow',$("#startRow").val());
            formData.append('size',$("#startRow").val());
            $.ajax({
                url: '/upLoadQuestions',
                type: 'POST',
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
              /*  dataType:"json",*/
                beforeSend: function(){
                    isUploaded = true;

                    console.log(formData['size']);
                    console.log(formData['startRow']);
                    console.log(formData['file']);
                },
                success : function(data) {

                    isUploaded = false;
                    console.log(data[0]);
                }
            });
        };
    </script>

</div>
</body>
</html>