<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:fragment="message">
    <table class="table table-striped">
        <tr>
            <th>分析内容</th>
            <th>分析结果</th>
        </tr>
        <tr class="table-row-cell" th:each="answer : ${reduce}">
            <td th:text="${answer.key}">000</td>
            <td th:text="${answer.value}">试题题目加载错误</td>
        </tr>
    </table>
    <script type="application/javascript" th:inline="javascript">



    </script>
</div>
<div th:fragment="results">
    <table class="table table-striped">
        <tr>
            <th>考试学号 memberCode</th>
            <th>考生信息 basic info</th>
            <th>考试成绩 score </th>
            <th>交卷时间 submit time</th>
            <th>错题列表 wrongs list</th>
        </tr>
        <tr class="table-row-cell" th:each="result : ${results}">
            <td th:text="${result.memberCode}">000</td>
            <td th:text="${result.message}">试题题目加载错误</td>
            <td th:text="${result.totalScore}">000</td>
            <td th:text="${result.examFinishTime}">
            </td>
            <td>
                <select >
                    <option th:each = "wrongCode : ${result.wrongsList}" th:text="${wrongCode}"></option>
                </select>
            </td>

        </tr>
    </table>
    <script type="application/javascript" th:inline="javascript">



    </script>
</div>
</body>