<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>table</title>
</head>
<body>
    <div th:fragment="question-table(forStudent)">
        <p>在线答题系统 </p>

        <table id="tableInfo" class="table table-striped" width="100%" >
            <thead class="thead-inverse">
            <tr>
                <th>题目</th>
                <th>选项A</th>
                <th>选项B</th>
                <th>选项C</th>
                <th>选项D</th>
            </tr>
            </thead>
            <tbody th:each="question : ${questions}">
            <tr th:height="80" class="table-row-cell" >
                <td  th:text="${question.questionCode}">000</td>
                <td width="1000" colspan="4" >
                    <span class="btn btn-dark content" th:text="${question.title}">

                    </span>
                </td>
                <td></td>
            </tr>
            <tr th:height="40" class="table-row-cell" >
                <td></td>
                <td  width="250">
                    <label  class="btn btn-outline-info content" >
                        <input type="radio" th:name="${question.questionCode}"  th:text="'A: '+${question.optionA}" value="8" />
                    </label>
                </td>
                <td   width="250">
                    <label class="btn btn-outline-success content">
                        <input type="radio" th:name="${question.questionCode}" th:text="'B: '+${question.optionB}" value="4" />
                    </label>
                </td >
                <td   width="250">
                    <label class="btn btn-outline-info content" >
                        <input type="radio" th:name="${question.questionCode}" th:text="'C: '+${question.optionC}" value="2" />
                    </label>
                </td>
                <td  width="250">
                    <label class="btn btn-outline-success content">
                        <input type="radio" th:name="${question.questionCode}" th:text="'D: '+${question.optionD}" value="1" />
                    </label>
                </td>
                <td></td>
          <!--      <td> <input type="radio" th:name="${question.questionCode}" th:text="${question.optionB}" value="4"/></td>
                <td> <input type="radio" th:name="${question.questionCode}" th:text="${question.optionC}" value="2"/></td>
                <td> <input type="radio" th:name="${question.questionCode}" th:text="${question.optionD}" value="1"/></td>
-->
            </tr>
            </tbody>
        </table>
        <div th:if="${forStudent}" class="form-group col-lg-6" >
            <label for="memberCode" class="text-secondary text-info" >学号： </label>
            <input type="text" name="memberCode" class="form-control" id="memberCode" placeholder=“201640704321” style="width:120px; height:38px"/>

            <label for="name"  class="text-secondary text-info">姓名： </label>
            <input type="text" name="name" class="form-control" id="name" placeholder=“高利贷” style="width:100px; height:38px"/>

            <label for="remarks"  class="text-secondary text-info">留言： </label>
            <input type="text" name="remarks" class="form-control" id="remarks" placeholder=“可以随便写点，可以不写” style="width:200px; height:38px"/>
        <button th:if="${examClosed==false}" type="button" id="student-finish" class="btn btn-primary pull-right" onclick="finish()">结束考试，提交答案</button>
        <!--th:if="${examClosed}"-->
        </div>
        <div id = "small-console" class="form-group col-lg-6" >"小型控制台"</div>
        <script type="application/javascript" th:inline="javascript">
            var finish = function () {

                if(! confirm("确是要提交?")) return;

                var answers = {};

                var tableObj = document.getElementById("tableInfo");
                // 注意观察表结构

                for (var i = 2; i < tableObj.rows.length; i+=2) {

                    var questionCode = tableObj.rows[i-1].cells[0].innerHTML;
                    var answer;
                    var radios = document.getElementsByName(questionCode);

                    for (var k = 0; k< radios.length; k++){
                        if (radios[k].checked){
                            answer=radios[k].value;
                            break;
                        }

                    } 

                    answers[questionCode]= answer;


                }
                //熟悉一下h5 很重要的一个对象localStorage
                window.localStorage.setItem("answers",answers);

                var dataToSend = {
                    "answers": answers,
                    "memberCode": document.getElementById("memberCode").value,
                    "name": document.getElementById("name").value,
                    "remarks": document.getElementById("remarks").value
                };
                var url="/student/finish";

                $.ajax({
                    type: 'put',
                    url: url,
                    contentType: 'application/json',

                    data: JSON.stringify(dataToSend),

                    dataType: 'json',

                    beforeSend: function(){
                        //开始请求之前
                        console.log(dataToSend);
                        console.log(JSON.stringify(dataToSend));
                        document.getElementById("student-finish").disabled = true;
                       // document.getElementById("student-finish").text = "大吉大利";

                    },
                    success: function (data) {
                        console.log(data);
                        alert(data["message"] +" 考试得分 ："+ data["totalScore"] +" 具体详情F12");
                        if (data["totalScore"] == null){
                            document.getElementById("student-finish").disabled = false;
                        }

                    }

                });
            }
        </script>
        <style type="text/css">
            .content {
                white-space: pre-line;
                word-wrap:break-word;
                word-break:break-all
            }

        </style>
    </div>


    <div th:fragment="standard-answer-table">
        <table class="table table-striped">
            <tr>
                <th>试题序号</th>
                <th>答案</th>
            </tr>
            <tr class="table-row-cell" th:each="answer : ${standardAnswer.correctAnswers}">
                <td th:text="${answer.key}">000</td>
                <td th:text="${answer.value}">试题题目加载错误</td>
            </tr>
        </table>
        <script type="application/javascript" th:inline="javascript">



        </script>
    </div>
</body>
</html>