<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script type="text/javascript" src="webjars/jquery/3.0.0/jquery.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="starter-template">
        <h1>管理员界面，还没想好干什么</h1>
    </div>
    <div th:replace="fragments/inout :: logout"></div>
</div>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>