<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="form-group">
<div th:replace="fragments/message :: message"></div>
<div th:replace="fragments/message :: results"></div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>