<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script type="text/javascript" src="webjars/jquery/3.0.0/jquery.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <h1>教师界面，请于此导入试题，开放考试，结束考试，导出成绩单</h1>
    </div>
    <div th:replace="fragments/inout :: file-confirm"></div>
    <div>如下是刚才导入的试题表，学生访问看到的将会是同样的表，在您没有点击 开放考试 之前，您可以看到试题，学生依旧看不到</div>
    <div th:replace="fragments/table :: question-table(forStudent= false)"></div>
    <div>这里是正确答案，ABCD 分别对应 二进制1000 0100 0010 0001 也就是 8421 </div>
    <div>这样映射的好处是，可以处理多个正确答案的情况，譬如 AC都对，答案是8+2=10 在上传的试题excel H列中可以直接修改成对应数字 </div>
    <div th:replace="fragments/table :: standard-answer-table"></div>

</div>





<div th:replace="fragments/footer :: footer"></div>
</body>
</html>