<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>



<div class="container">
    <div class="starter-template">
        <h1>学生界面，可以下载文件 进行考试</h1>
        <h1>Student interface, you can download files for exams</h1>
    </div>
</div>
<div class="text-md-center">
    <a th:href="@{/student/start}" target="_blank" class="btn btn-primary pull-right" >进入考试 enter into exam </a>
</div>
<br/>
<div>
    <div class="text-sm-center text-info">download area 下载功能默认开启 管理员可以关闭 download function default enable ; manager can disable</div>
    <ul th:each="fileName :${files}" class="list-unstyled">
        <li class="text-md-center"><a th:text="${fileName}" th:href="@{/student/download/{fileName}(fileName=${fileName})}"
                target="_blank" class="btn btn-info text-md-center"></a></li>
    </ul>
</div>

<div class="text-md-center text-primary">以上是教师机 <div th:text="${userHome}"></div> 目录下的文件 不包含目录哟</div>
<br/>
<br/>



<div th:replace="fragments/footer :: footer"></div>
</body>
</html>