
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>403</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="starter-template">
        <h1>403 - 没有访问权限</h1>
        <div th:inline="text">Hello '[[${#httpServletRequest.remoteUser}]]',
            你没有权限访问此页面.</div>
    </div>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>