
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <h1>教师界面，请于此导入试题，开放考试，结束考试，导出成绩单, 清空数据库</h1>
        <!--结束考试的本质是阻止学生上传成绩，导出成绩单的本质是在主机本地生成csv文件 通过页面化下载成绩单-->
    </div>
    <div th:replace="fragments/inout :: file-upload"></div>
</div>





<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
