<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>



<div class="container">
    <div class="starter-template">
        <h1>考试页面 无需登录 一定要输入学号 同一学号不能重复提交</h1>
        <h1>No entry is required for the test page. The student number must be entered. The same student number can not be submitted repeatedly.</h1>
    </div>
</div>

<div th:replace="fragments/table :: question-table(forStudent= true)"></div>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>